body{
    margin: 0;
}
.first-thing{
    text-align: center;
    font-size: 60px;
    font-style:inherit;
    width: 100%;
    text-shadow: 10px 10px 10px tomato;
}
#paris{
    text-shadow: 10px 10px 10px gray;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 100%;
    padding-left: 20px;
}
.first-div{
    padding-top: 30px;
}
.half-width img{
    width: 90%;
    padding-left: 20px;
    padding-bottom: 110px;
}
.second-section{
    background-image: url(images/7.png);   
}
.first-header{
    font-family: 'Lora', serif;
    font-size: xx-large;
}
.first-para{
    font-family: 'Lora', serif;
    text-align: justify;
}
.first-button{
    text-decoration: none;
    background-image: linear-gradient(135deg, tomato, rgb(211, 184, 135));
    color: whitesmoke;
    border-radius: 12px;
    padding: 5px 10px;
}
#second-image{
    padding-left: 0;
    height: 415px;
}
.second-para{
    text-align: justify;
    padding-right: 20px;
}
.second-button{
    text-decoration: none;
    background-color: orangered;
    color: whitesmoke;
    border-radius: 12px;
    padding: 5px 10px;
}
.header-4{
    font-weight: lighter;
}

.menu{
    text-align: center;
    color: orangered;
}
.menu-para{
    text-align: justify;
    padding-left: 410px;
    padding-right: 380px;
}
.recipies-card{
    display: flex;
    justify-content:center;
    margin:50px 100px 20px 100px;
}
.cake-card image{
    padding: 15px 15px 25px 15px;
}
.cake-card img{
    width:100%;
    border-radius:20px;
}
.cake-card{
    width:30%;
    box-sizing: border-box;
    box-shadow: 0 0 20px 15px gainsboro;
    border-radius:30px;
    text-align:center;
    border-radius: 20px;
    margin-left: 5%;
}
.card-para{
    text-align:justify;
    padding: 5px 15px;
}
.yuotube-link{
    text-decoration: none;
    color: black;
    padding-left: 35px;
    font-weight: bold;
}
.insta-link{
    text-decoration: none;
    color: black;
    padding-left: 20px;
    font-weight: bold;
}
.fb-link{
    text-decoration: none;
    color: black;
    padding-left: 20px;
    font-weight: bold;
}
.final-container{
    display: flex;
    justify-content:center;
    box-sizing: border-box;
    box-shadow: 2px 0 20px 20px rgb(230, 233, 232);
    border-radius:30px;
    border-radius: 20px;
    margin: 0 auto;
}
.youtube{
    margin-left: 0;
    padding-left: 100px;
}
.insta{
    margin-left: 80px;
}
.fb{
    margin-left: 80px;
    padding-right: 100px;
    padding-bottom: 20px;
}
.form{
    text-align: center;
}
.tikbox{
    margin-left: 10px;
}
.submit{
    padding: 5px 20px;
    background-image: linear-gradient( tomato, rgba(230, 207, 165, 0.993));
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 20px;
}
.form-head{
    text-align: center;
    padding-left: 80px;
    text-decoration: underline;
    padding-top: 50px;
}
.last-section{
    background-image: url(images/Frame\ 57.jpg);
    margin: 0;
}
.form-div-class{
    box-sizing: border-box;
    box-shadow: 2px 0 20px 20px rgb(148, 125, 116);
    border-radius:30px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}