body{
    margin: 0;
}
.first-thing{
    text-align: center;
    font-size: 60px;
    font-style:inherit;
    width: 100%;
    text-shadow: 10px 10px 10px tomato;
}
#paris{
    text-shadow: 10px 10px 10px gray;
}
section{
    display: flex;
}
.half-width{
    width: 100%;
    padding-left: 20px;
}
.first-div{
    padding-top: 30px;
}
.half-width img{
    width: 90%;
    padding-left: 20px;
    padding-bottom: 110px;
}
.second-section{
    background-image: url(images/7.png);   
}
.first-header{
    font-family: 'Lora', serif;
    font-size: xx-large;
}
.first-para{
    font-family: 'Lora', serif;
    text-align: justify;
}
.first-button{
    text-decoration: none;
    background-image: linear-gradient(135deg, tomato, rgb(211, 184, 135));
    color: whitesmoke;
    border-radius: 12px;
    padding: 5px 10px;
}
#second-image{
    padding-left: 0;
    height: 415px;
}
.second-para{
    text-align: justify;
    padding-right: 20px;
}
.second-button{
    text-decoration: none;
    background-color: orangered;
    color: whitesmoke;
    border-radius: 12px;
    padding: 5px 10px;
}
.header-4{
    font-weight: lighter;
}
.fb-link{
    margin-left: 800px;
    padding-top: 58px;
    color: rgb(224, 153, 127);
}
.youtube-link{
    margin-left: 0;
    padding-top: 58px;
    color: rgb(224, 153, 127);
}
.menu{
    text-align: center;
    color: orangered;
}
.menu-para{
    text-align: justify;
    padding-left: 410px;
    padding-right: 380px;
}
.three-div{
    display: flex;
}
.card-div1{
    padding-left: 50px;
    border:solid;
    border-radius: 20px;
}