body{
    margin: 0;
}
.first-thing{
    text-align: left;
    font-size: 60px;
    font-style:inherit;
}
section{
    display: flex;
}
.half-width{
    width: 100%;
    padding-left: 20px;
}
.first-div{
    padding-top: 30px;
}
.half-width img{
    width: 90%;
    padding-left: 20px;
    padding-bottom: 110px;
}
.second-section{
    background-image: url(images/7.png);
    
}
.first-header{
    font-family: 'Lora', serif;
    font-size: xx-large;
}
.first-para{
    font-family: 'Lora', serif;
    text-align: justify;
}
.first-button{
    text-decoration: none;
    background-color: orangered;
    color: whitesmoke;
    border-radius: 12px;
    padding: 5px 10px;
}
#second-image{
    padding-left: 0;
    height: 415px;
}
.second-para{
    text-align: justify;
    padding-right: 20px;
}
.second-button{
    text-decoration: none;
    background-color: orangered;
    color: whitesmoke;
    border-radius: 12px;
    padding: 5px 10px;
}
.header-4{
    font-weight: lighter;
}